@model QLKSMVC.Models.AccountModel

@{
    Layout = "_LayoutMaster";
}

<section>
    <div class="main-form-container">
        <div id="form_section" class="form-container">
            <div class="login-form form-wraper ">
                @if (ViewBag.dangNhapErrorMessage != null)
                {
                    <div style="color: red;" class="alert alert-danger d-flex justify-content-center errormessage" role="alert">
                        @ViewBag.dangNhapErrorMessage
                    </div>
                }
                @if(ViewBag.DoiMatKhauSuccess != null)
                {
                    <div style="color: rgb(0, 255, 47);" class="alert alert-danger d-flex justify-content-center errormessage" role="alert">
                        @ViewBag.DoiMatKhauSuccess
                    </div>
                }
                <form asp-action="DangNhap">
                    @if(ViewBag.ThongBaoLoi != null)
                    {
                        foreach(var item in ViewBag.ThongBaoLoi)
                        {
                            <span class="errormessage" style="color: red;">@item</span>
                        }
                    }
                    <div class="form-title">
                        <h2>Đăng Nhập</h2>
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "alert-danger"})
                    <div class="input-group">
                        <label asp-for="UserName" hidden class="control-label"></label>
                        <div class="box">
                            <span>
                                <input placeholder="Tên đăng nhập" class="myInput" type="text" asp-for="UserName"/>
                            </span>
                        </div>
                        <span asp-validation-for="UserName" class="errormessage" style="color: red;"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="UserPassword" hidden class="control-label"></label>
                        <div class="box">
                            <span>
                                <input placeholder="Mật khẩu" class="myInput" type="password" asp-for="UserPassword"/>
                            </span>
                        </div>
                        <span asp-validation-for="UserPassword" class="errormessage" style="color: red;"></span>
                    </div>
                    <div class="forget-password">
                        @Html.ActionLink("Quên mật khẩu", "QuenMatKhau", "Account")
                    </div>
                    <div class="action-button">
                        <button type="submit">Đăng Nhập</button>
                    </div>
                </form>
            </div>
            @* <div class="signUp-form form-wraper">
                <div>
                    <div class="form-title">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="input-group">
                        <div class="box">
                            <span>
                                <input placeholder="Full Name" class="myInput" type="text" />
                            </span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="box">
                            <span>
                                <input placeholder="Email" class="myInput" type="text" />
                            </span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="box">
                            <span>
                                <input placeholder="Mobile No." class="myInput" type="number" />
                            </span>
                        </div>
                    </div>
                    <div style="margin-bottom: 0px;" class="input-group">
                        <div class="box">
                            <span>
                                <input placeholder="Password" class="myInput" type="password" />
                            </span>
                        </div>
                    </div>
                    <div class="action-button">
                        <button>Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="multiple-btn" class="bg-btn-container">
            <div class="action-button">
                <button>Login</button>
            </div>
            <div class="action-button">
                <button>Sign Up</button>
            </div>
        </div> *@

    </div>
</section>


<script>
    setTimeout(function () {
        $('.errormessage').alert('close');
    }, 5000);

    const inputs = document.querySelectorAll("input");
    inputs.forEach(function (input) {
        input.addEventListener("focus", function () {
            const parentElement = input.parentElement.parentElement;
            parentElement.classList.add("box-animation");
        });
        input.addEventListener("blur", function () {
            const parentElement = input.parentElement.parentElement;
            parentElement.classList.remove("box-animation");
        });
    });

    const buttons = document.querySelectorAll("#multiple-btn button");
    const form_container = document.getElementById('form_section')
    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            form_container.classList.toggle("left-right");

        });
    });
</script>